@import "globals";
// Basic design of this grid is based on Blueprint's grid.css https://github.com/joshuaclayton/blueprint-css

%grid-block {
  float: left;
  margin-right: $gutter;
}

// Use these classes to set the width of a column.
@for $i from 1 through $total_columns {
  .span-#{$i} { width: ($column_width * $i) + ($gutter * ($i - 1)); @extend %grid-block }
}
.span-#{$total_columns} { margin-right: 0; }

// The last column in a row needs this class.
.last { margin-right: 0; }

// Use these classes to prepend empty columns
@for $i from 1 through $total_columns - 1 {
  .append-#{$i} { margin-right: ($column_width + $gutter) * $i; }
}

// Use these classes to append empty columns
@for $i from 1 through $total_columns - 1 {
  .prepend-#{$i} { margin-left: ($column_width + $gutter) * $i; }
}

.space_top { margin-top: $gutter; }
.space_bottom { margin-bottom: $gutter; }

.grid_box {
  border: 1px solid $border_color;
  padding: $gutter;
}
